#SettingsWindow { padding: 0;}

/*
QTabWidget::pane { background: solid #ffffff; border: 1px solid #ffffff;  margin: 0;}
QTabWidget::tab-bar { alignment: center; }
QTabBar::tab { background : solid #eeeeee; min-width: 8ex; padding: 2px; border: 0px solid #ffffff; }
QTabBar::tab:hover { background: solid #f7f7f7; }
QTabBar::tab:selected { background: solid #ffffff; }
QTabBar::scroller { width: 15px; }
*/

#CategoriesPane {


}

#ControlsScrollArea {
    border: none;
    background: rgba(240,240,240, 100%);
}

#ControlsPane {
    padding: 30px;
}

#CategoryList {
    background: rgba(250,250,250, 100%);
    border: 1px solid rgba(225,225,225, 100%);
    border-left: none;
    border-bottom: none;
    padding: 8px;
}

#BreadCrumbWidget {
    background: rgba(240,240,240, 100%);
    /*border-bottom: 1px solid rgba(150,150,150, 40%);*/
    padding: 6px 6px 4px 6px;
}

#BreadCrumbItem {
    background: rgba(0,0,0, 0%);
    border: 1px solid transparent;
    padding: 4px;
    font-size: 10.5pt;

    border-radius: 3px;
}

#BreadCrumbItem:hover {
    color: rgba(60,60,60, 100%);
}

#BreadCrumbItem:pressed {
    color: rgba(3,3,3, 100%);
}

#BreadCrumbDivider {
    background: rgba(0,0,0, 0%);
    border: 1px solid transparent;
    padding: 4px 0px 4px 0px;
    font-size: 10.5pt;
}

#CategoryButton {
    border: 1px solid transparent;
    border-radius: 3px;

    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 2px;
    min-height: 30px;
    min-width: 200px;
    icon-size: 22px;
}

#CategoryButton:hover  {
    background: rgba(255,255,255, 70%);
    border-top: 1px solid rgba(160,160,160, 60%);
    border-right: 1px solid rgba(160,160,160, 60%);
    border-bottom: 1px solid rgba(155,155,155, 60%);
    border-left: 1px solid rgba(155,155,155, 60%);
}

#CategoryButton:pressed  {
    background: rgba(250,250,250, 70%);
    border-top: 1px solid rgba(160,160,160, 60%);
    border-right: 1px solid rgba(160,160,160, 60%);
    border-bottom: 1px solid rgba(155,155,155, 60%);
    border-left: 1px solid rgba(155,155,155, 60%);
}

#CategoryDivider {
    border-bottom: 1px solid rgba(150,150,150, 40%);
    background: rgba(0,0,0, 0%);
    margin: 0px 6px 8px 6px;
    padding: 8px 0px 5px 0px;
    text-align: center;
    font-style: bold;
}

#ControlsScrollArea {

}

QScrollBar:vertical {
    background: transparent;
    border: none;
    width: 10px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background: rgb(175,175,175);
    border-radius: 2px;
    margin: 2px 2px 2px 0px;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    background: none;
    border: none;
    height: 0;
}

QScrollBar::sub-line:vertical {
    background: none;
    border: none;
    height: 0;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: none;
    width: 0;
    height: 0;
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}



#ControlWidget {
    background: #fdfdfd;
    border: 1px solid rgba(180,180,180, 60%);
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 12px;
    max-width: 700px;
}

#WidgetGroup {
    background: rgba(255,255,255, 80%);
    border: 1px solid rgba(180,180,180, 60%);
    border-radius: 3px;
    margin-bottom: 5px;
}

#WidgetGroup #ControlWidget {
    margin: 0px;
}

#WidgetGroup #ControlWidget[groupposition="first"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgba(0,0,0,0%);

    border: none;
    border-bottom: 1px solid rgba(180,180,180, 40%);
}

#WidgetGroup #ControlWidget[groupposition="middle"] {
    border-radius: 0px;
    background: rgba(0,0,0,0%);

    border: none;
    border-bottom: 1px solid rgba(180,180,180, 40%);
}

#WidgetGroup #ControlWidget[groupposition="last"] {
    border: none;
    background: rgba(0,0,0,0%);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


#ControlWidget QListWidget {
    background: #fdfdfd;
    border: none;
    outline: 0;
}

#ControlWidget QListWidget::item {
    background: #fdfdfd;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 3px;
}

#ControlWidget QListWidget::item:selected {
    background: #fdfdfd;
    border: 1px solid #ccc;
    color: black;
}

#ControlWidget QListWidget::indicator {
    border: 1px solid #888;
    border-radius: 8px;
    width: 16px;
    height: 16px;
}

#ControlWidget QListWidget::indicator:checked {
    background: #3e3;
}

#ControlWidget QListWidget::indicator:unchecked {
    background: #eee;
}

/* Plugin specific stuff - this should really be moved to be with the plugin itself somehow. Maybe? */

#WallpaperPreviewBase {

}

#WallpaperPreviewImage {
    background: rgba(25,25,25, 100%);
    border: 1px solid rgba(8,8,8, 100%);
    border-radius: 4px;
    padding: 5px;
    margin: 18px;
}


#SystemInfoLabel {
    color: #777;
}
