#panel {
    background: rgba(30,30,30, 98%);
    padding: 3px 3px 3px 3px;
    
    min-height: 30;
    max-height: 30;
}

#panelSeparator {
    min-width: 1px;
    max-width: 1px;
    
    margin: 2px 4px 2px 4px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0,0,0, 0%), stop:0.15 rgba(100,100,100, 80%), stop:0.85 rgba(100,100,100, 80%), stop:1 rgba(0,0,0, 0%));
}

#panelButton { 
    border: 1px solid transparent;
    color: white;
    height: auto;
} 

#panelButton[buttontype="Custom"] { 
    text-align: center; 
    padding: 2px;
} 

#panelButton[buttontype="Icon"] { 
    text-align: center; 
    min-width: 28px;
} 

#panelButton[buttontype="Text"] { 
    text-align: center; 
    padding-left: 3px;
    padding-right: 3px;
    min-width: 20px;
} 

#panelButton[buttontype="IconAndText"] { 
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
} 

#panelButton:hover  { 
    background: rgba(50,50,50, 70%);
    border-top: 1px solid rgba(60,60,60, 60%);
    border-right: 1px solid rgba(60,60,60, 60%);
    border-bottom: 1px solid rgba(55,55,55, 60%);
    border-left: 1px solid rgba(55,55,55, 60%);

} 

#panelButton:pressed  { 
    background: rgba(40,40,40, 70%);
    border-top: 1px solid rgba(60,60,60, 60%);
    border-right: 1px solid rgba(60,60,60, 60%);
    border-bottom: 1px solid rgba(55,55,55, 60%);
    border-left: 1px solid rgba(55,55,55, 60%);
}

#popup {
    background: rgba(30,30,30, 100%);
    border: 1px solid rgba(100,100,100, 40%);
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 5px;
}  

#popupMenuItem {
    border: 1px solid rgba(0,0,0, 0%);
    text-align: left; 
    padding: 3px; 
    color: white;
} 

#popupMenuItem:hover  { 
    background: rgba(50,50,50, 70%);
    border-top: 1px solid rgba(60,60,60, 60%);
    border-right: 1px solid rgba(60,60,60, 60%);
    border-bottom: 1px solid rgba(55,55,55, 60%);
    border-left: 1px solid rgba(55,55,55, 60%);
} 

#popupMenuItem:pressed  { 
    background: rgba(40,40,40, 70%);
    border-top: 1px solid rgba(60,60,60, 60%);
    border-right: 1px solid rgba(60,60,60, 60%);
    border-bottom: 1px solid rgba(55,55,55, 60%);
    border-left: 1px solid rgba(55,55,55, 60%);
}

#popupMenuSeperator { 
    background: rgba(200,200,200, 80%); 
    min-height: 1px;
    max-height: 1px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
} 

#desktop_Icon {
    border: 1px solid transparent;
}

#desktop_Icon:hover  { 
    background: rgba(255,255,255, 7%);
    border-top: 1px solid rgba(100,100,100, 40%);
    border-right: 1px solid rgba(100,100,100, 40%);
    border-bottom: 1px solid rgba(100,100,100, 30%);
    border-left: 1px solid rgba(100,100,100, 30%);
} 

#panelMainmenuSearchbox {
    background: rgba(40,40,40, 100%);
    border-top: 1px solid rgba(150,150,150, 60%);
    border-right: 1px solid rgba(150,150,150, 60%);
    border-bottom: 1px solid rgba(145,145,145, 60%);
    border-left: 1px solid rgba(145,145,145, 60%);
    padding: 4px 2px; 
    color: white;
}

QScrollBar:vertical {
    background: rgba(90,90,90, 70%);
    border: none;
    width: 10px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background: rgba(170,170,170, 70%);
    margin: 2px;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    background: none;
    border: none;
    height: 0;
}

QScrollBar::sub-line:vertical {
    background: none;
    border: none;
    height: 0;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: none;
    width: 0;
    height: 0;
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
