Source: forest
Section: x11
Priority: optional
Maintainer: Nicholas Yoder <nicholasyoder@proton.me>
Build-Depends: debhelper-compat (= 13), cmake, pkgconf, qt6-base-dev, libqt6dbus6, libkf6windowsystem-dev, libx11-dev, libxcursor-dev, libasound2-dev, libsensors-dev, libpolkit-qt6-1-dev, libqt6xdg-dev, liblayershellqtinterface-dev, libdbusmenu-lxqt-dev, libxkbcommon-dev
Standards-Version: 4.5.1
Homepage: https://github.com/nicholasyoder/forest
Rules-Requires-Root: no

Package: forest
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, xfwm4, gtk2-engines-murrine, qt6ct, papirus-icon-theme, brightnessctl, gnome-screenshot, lxterminal, pcmanfm-qt, xinit, xserver-xorg, x11-xserver-utils, polkitd
Description: lightweight Qt-based desktop environment
 Forest is a desktop environment built using Qt.
 It is still very much a work in progress so expect
 to encounter partially implemented features.

Package: forest-greeter
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, forest, greetd, cage
Description: greetd greeter using the Forest theme system
 A Qt-based login greeter for the greetd display manager,
 styled with the Forest theme system. Runs inside the cage
 Wayland compositor on VT1.
